#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  ion-button {
    margin-top: 35px;
    --background: #93e9be;
    --color: blue;
    width: 90%;
 
  }
  img{
    margin-bottom: 100px;
  }
  ion-list {
     text-align: center;
     
  }